@font-face {
    font-family: "Dana";
    src: url(./assets/fonts/dana/Dana-FaNum-Regular.ttf);
}

* {
    font-family: "Dana";
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.inputStyle {
    width: 70px !important ;
    height: 80px !important ;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* slider */
.swiper-slide-active {
}

